.heroTitle {
  font-size: 2.8rem;
}

.heroSubtitle {
  font-size: 1.5rem;
  font-weight: 600;
}

@media (max-width: 600px) {
  .heroTitle {
    font-size: 36px;
  }
  .heroSubtitle {
    font-size: 18px;
  }
}


